.DS_Store
Thumbs.db
.netrwhist
*~
#*#
*.bk
*.swp
doc/tags
doc/tags-j

# vim
.vim/bundle

# emacs
.emacs.d/undohist
.emacs.d/ac-comphist.dat

# scm
.svn

# eclipse
.project
.classpath
.settings

# iphone
build
*.pbxuser
*.mode1v3
